<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Dashboard de Mutual">
  <meta name="author" content="Luis Lujan">

  <title><%= strings.dashboardTitle %></title>

  <!-- Headers of this page -->
  <%- include("partials/header") %>
  <!-- Custom styles for this page -->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
     <%- include("partials/sidebar") %>
    <!-- End Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <%- include("partials/topbar") %>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cuenta Corriente</h1>
          </div>
          <!-- Cards -->
          <div class="row">
            <!-- Card Total Clientes -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Clientes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 d-none" id="cardTotalClients">-</div>
                      <div class="text-center" id="spinnerCardTotalClients">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total pagos pendientes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Deudores</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Acciones Cliente -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Acciones de cliente</h6>
            </div>
            <div class="card-body">
              <a href="#" class="btn btn-primary btn-icon-split" id="add-cliente">
                <span class="icon text-white-50">
                  <i class="fas fa-user"></i>
                </span>
                <span data-toggle="tooltip" class="text">Añadir cliente</span>
              </a>
            </div>
          </div>
          <!-- DataTales Cliente -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
            </div>
            <div class="card-body">
              <div class="text-center">
                <div class="spinner-border d-none" id="tableClientsSpinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="table-responsive divTableClients">
                <table class="table table-bordered" id="clients_table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Apellido</th>
                      <th>Nombre</th>
                      <th>Curso</th>
                      <th>Saldo ($)<th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <%- include("partials/footer") %>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include("partials/modals") %>
    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page custom scripts -->
    <script src="/static/js/main.js"></script>

</body>

<div class="modal fade" id="modal-add-cliente" tabindex="-1" role="dialog" aria-labelledby="Agregar Cliente"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-cliente-title"></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="input-add-client-action" action="" />
        <div id="update-client-spinner" style="height:100px">
          <div class="text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span>Obteniendo información</span>
          </div>
        </div>
        <form id="formSaveClient" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="client-name"><strong>Nombre</strong></label>
              <input type="text" class="form-control" id="client-name" placeholder="Ingrese el nombre" maxlength="100"
                required>
            </div>
            <div class="form-group col-md-6">
              <label for="client-lastname"><strong>Apellido</strong></label>
              <input type="text" class="form-control" id="client-lastname" placeholder="Ingrese el apellido"
                maxlength="100" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="client-dni"><strong>DNI</strong></label>
              <input type="number" class="form-control" id="client-dni" placeholder="Ingrese el DNI" maxlength="8"
                required>
            </div>
            <div class="form-group col-md-6">
              <label for="client-email"><strong>Email</strong></label>
              <input type="text" class="form-control" id="client-email" placeholder="Ingrese el email" maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <label for="client-address"><strong>Dirección</strong></label>
            <input type="text" class="form-control" id="client-address" placeholder="Ingrese la direccion"
              maxlength="300">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="client-phone"><strong>Teléfono fijo</strong></label>
              <input type="number" class="form-control" id="client-phone" placeholder="Ingrese el teléfono fijo"
                maxlength="12">
            </div>
            <div class="form-group col-md-6">
              <label for="client-cellphone"><strong>Teléfono celular</strong></label>
              <input type="number" class="form-control" id="client-cellphone" placeholder="Ingrese el teléfono celular"
                maxlength="20" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="client-responsable"><strong>Responsable o tutor</strong></label>
              <input type="text" class="form-control" id="client-responsable" placeholder="Ingrese el responsable"
                maxlength="100" required>
            </div>
            <div class="form-group col-md-6">
              <label for="client-degree"><strong>Grado o curso</strong></label>
              <select class="browser-default custom-select" id="client-degree">
                <option value="">Seleccione una opción...</option>
                <% for(var i=0; i < GRADOS.length; i++) { %>
                <option value="<%= GRADOS[i].id %>"><%= GRADOS[i].name%></option>
                <% } %>
              </select>
              <!-- <input type="text" class="form-control" id="client-degree" placeholder="Ingrese el grado o curso" required> -->
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
            <span class="icon text-white-50"><i class="fas fa-times"></i></span>
            <span class="text">Cancelar</span>
          </a>
          <a href="#" class="btn btn-success btn-icon-split saveForm">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
            <span class="text">Guardar</span>
          </a>
          <a href="#" class="btn btn-success btn-icon-split saveFormUpdate disabled" idCustomer="">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
            <span class="text">Modificar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-add-factura" tabindex="-1" role="dialog" aria-labelledby="Facturación" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir factura</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <p class="txtFacturaName"></p>

        <form id="formSaveFactura" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="factura-numero"><strong>N° Factura</strong></label>
              <input type="text" class="form-control" id="factura-number" placeholder="Ingrese el número de factura" maxlength="100" required>
            </div>
            <div class="form-group col-md-6">
              <label for="factura-importe"><strong>Importe ($)</strong></label>
              <input type="number" class="form-control" id="factura-importe" placeholder="Ingrese el importe ($)" required>
            </div>
          </div>

          <div class="form-group">
            <label for="factura-detalle"><strong>Detalle</strong></label>
            <button type="button" class="btn btn-link"><i class="fa fa-plus"></i> Añadir producto</button>
            <input type="text" class="form-control factura-detalle" id="lista-detalles-factura" placeholder="Detalle" maxlength="100" required>
          </div>



          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="client-dni"><strong>DNI</strong></label>
              <input type="number" class="form-control" id="client-dni" placeholder="Ingrese el DNI" maxlength="8"
                required>
            </div>
            <div class="form-group col-md-6">
              <label for="client-email"><strong>Email</strong></label>
              <input type="text" class="form-control" id="client-email" placeholder="Ingrese el email" maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <label for="client-address"><strong>Dirección</strong></label>
            <input type="text" class="form-control" id="client-address" placeholder="Ingrese la direccion"
              maxlength="300">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="client-phone"><strong>Teléfono fijo</strong></label>
              <input type="number" class="form-control" id="client-phone" placeholder="Ingrese el teléfono fijo"
                maxlength="12">
            </div>
            <div class="form-group col-md-6">
              <label for="client-cellphone"><strong>Teléfono celular</strong></label>
              <input type="number" class="form-control" id="client-cellphone" placeholder="Ingrese el teléfono celular"
                maxlength="20" required>
            </div>
          </div> -->

        </form>

        <div class="modal-footer">
          <a href="#" class="btn btn-secondary btn-icon-split" data-dismiss="modal">
            <span class="icon text-white-50"><i class="fas fa-times"></i></span>
            <span class="text">Cerrar</span>
          </a>
          <a href="#" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
            <span class="text">Aceptar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
